@define-color accent #bf8bff;
@define-color accent-2 #b82a46;
@define-color foreground #cccccc;
@define-color background #101010;
@define-color background-2 #151515;

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: FontAwesome, Roboto, Inter, JetBrainsMono Nerd Font, Arial,
		sans-serif;
	font-size: 13px;
	color: @foreground;
	padding: 2px 4px;
}

window#waybar {
	background-color: @background;
	border-bottom: none;
	transition-property: background-color;
	transition-duration: 0.5s;
}

#waybar.empty,
#waybar.tiled,
#waybar.floating #waybar {
	background-color: transparent;
}

#workspaces,
#tray,
#battery,
#clock,
#language,
#pulseaudio,
#backlight,
#custom-notification {
	padding: 0 4px;
	margin: 0 2px;
	background-color: @background-2;
	border-radius: 4px;
	font-size: 1.2em;
	font-weight: bold;
}

#workspaces button {
	transition-property: all;
	transition-duration: 0.2s;
	border: 1px solid transparent;
}

#workspaces:hover {
	background-color: @accent;
	color: red;
}

#workspaces button.active {
	border: 1px solid @accent;
}

#workspaces button.empty:not(.active) {
	border-bottom: 2px solid @accent-2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#battery.charging {
	background-color: @accent-2;
}
